<a href="https://colab.research.google.com/github/KCristopher/data/blob/master/github_repos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Who were the authors of pieces of code which were committed  most often ?

In [0]:
query1='''
SELECT author.name, author.email, COUNT(commit) AS number_of_commits
FROM `bigquery-public-data.github_repos.commits`
GROUP BY author.name, author.email
ORDER BY RAND()
LIMIT 3000;
'''

In [0]:
# jednorazowo będzie potrzebne podanie kodu weryfikacyjnego
df = pd.read_gbq(query = query1, project_id = 'task3githubrepos', dialect = 'standard')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=495642085510-k0tmvj2m941jhre2nbqka17vqpjfddtd.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=9PbcyeEtLeDFXJglg0Z73E8vzG1p0s&prompt=consent&access_type=offline
Enter the authorization code: 4/WQHSdTYUo_ZjqVD2757hZa85FBP9LBiR1BGtP25Z3rIGrLu-6pPSOHc

In [0]:
df.head()

                        name  ... number_of_commits
0               René Hertell  ...                 5
1             Georgiy Frolov  ...                30
2               Foyez Ahamed  ...                 4
3  Jenkins Automation Server  ...               111
4          Shane S Bruggeman  ...                 6

[5 rows x 3 columns]

In [0]:
df.groupby('name')['number_of_commits'].sum().sort_values(ascending=False).head(30)

name
hanwen                4277
Vikhyat Korrapati     4054
esj                   3941
Andy Lyall            2814
Ray Nicholus          2126
Rafael Ramos          2123
httpdigest            2099
Richard Membarth      2056
Nicolae Mihalache     1922
torangan              1354
aymanhab              1330
Tobias Oberstein      1166
Tobias Bocanegra      1128
Stephen Touset        1083
DaanVanYperen         1064
William Lachance       991
Steve Kenworthy        974
David Aerne            971
Michiel Meeuwissen     965
Bobi                   955
Sebastian Urban        948
Stephen Aylward        907
Giovanni Maggini       892
gleclaire              838
Björn Albers           836
Pierre Amaudruz        825
Thran                  816
limor-gs               799
Paul Beeler            726
SunTzu                 711
Name: number_of_commits, dtype: int64

# What are the most visited repositories ?

In [0]:
query2='''
SELECT repo_name,watch_count
FROM `bigquery-public-data.github_repos.sample_repos`
GROUP BY repo_name,watch_count
ORDER BY watch_count DESC
LIMIT 1000;
'''

In [0]:
df2=pd.read_gbq(query = query2, project_id = 'task3githubrepos', dialect = 'standard')

In [0]:
df2.head()

                    repo_name  watch_count
0   FreeCodeCamp/FreeCodeCamp        90457
1             firehol/netdata        13208
2             joshbuchea/HEAD        13125
3  braydie/HowToBeAProgrammer        12019
4        sindresorhus/awesome        11063

# How many files are under each licence ?

In [0]:
query3=
'''
SELECT license,COUNT(*) AS number_of_files_on_that_licence
FROM `bigquery-public-data.github_repos.files` AS f
INNER JOIN `bigquery-public-data.github_repos.licenses` AS l
ON f.repo_name=l.repo_name
GROUP BY license;
'''

# What kind of files gets uploaded to github ?

In [0]:
query4='''
SELECT path
FROM `bigquery-public-data.github_repos.sample_files` 
WHERE path LIKE '%ipynb'
OR path LIKE '%py'
OR path LIKE '%c'
OR path LIKE '%class'
OR path LIKE '%cpp'
OR path LIKE '%cpp'
OR path LIKE '%cs'
OR path LIKE '%java'
OR path LIKE '%sh'
OR path LIKE '%swift'
OR path LIKE '%vb'
OR path LIKE '%java'
OR path LIKE '%rtf'
OR path LIKE '%txt'
OR path LIKE '%pdf'
OR path LIKE '%doc'
OR path LIKE '%docx'
OR path LIKE '%xls'
OR path LIKE '%xlsx'
OR path LIKE '%xlsm'
ORDER BY RAND()
LIMIT 10000;
'''

In [0]:
df4=pd.read_gbq(query = query4, project_id = 'task3githubrepos', dialect = 'standard')

In [0]:
df4.head()

                                                path
0                  arch/arm/mach-spear3xx/spear300.c
1  src/main/java/org/chocosolver/solver/search/st...
2  Documentation/devicetree/bindings/gpio/cavium-...
3  rabbit-escape-engine/test/rabbitescape/engine/...
4  modules/adwords_appengine/src/main/java/com/go...

In [0]:
file_extensions=[".ipynb",
".py",
".c",
".class",
".cpp",
".cs",
".java",
".sh",
".swift",
".vb",
".rtf",
".txt",
".pdf",
".doc",
".docx",
".xls",
".xlsx",
".xlsm"]

names=['Jupyter','Python file','C','Java','C++','C#','Java file','Shell script','Swift file','Visual Basic file','Word file','Text file','Pdf file','Word file',
      'Word file','Excel file','Excel file','Excel file']

def which_technology(series):
  mapping={}
  
  for x in series.str.split():
    for fe,n in zip(file_extensions,names):
      if fe in ''.join(x):
        mapping[x]=n
      else:
        mapping[x]=x
        
  
  return mapping
    
  
  
which_technology(df4['technology'])

TypeError: ignored

In [0]:
df4['technology']=df4['path'].apply(which_technology)

In [0]:
df4.head()

                                                path                                         technology
0                  arch/arm/mach-spear3xx/spear300.c                  arch/arm/mach-spear3xx/spear300.c
1  src/main/java/org/chocosolver/solver/search/st...  src/main/java/org/chocosolver/solver/search/st...
2  Documentation/devicetree/bindings/gpio/cavium-...  Documentation/devicetree/bindings/gpio/cavium-...
3  rabbit-escape-engine/test/rabbitescape/engine/...  rabbit-escape-engine/test/rabbitescape/engine/...
4  modules/adwords_appengine/src/main/java/com/go...  modules/adwords_appengine/src/main/java/com/go...

In [0]:
def which_technology(extension,technology):
  df4['technology']=df4['path'].str.split().apply(lambda x:technology if extension in ''.join(x) else x)
  return df4['technology']

TypeError: ignored

In [0]:
df4['technology']=df4['path'].str.split().apply(lambda x:"Jupyter" if "ipynb" in ''.join(x) else x)

In [0]:
for t in df4.technology:
  if t=='Jupyter':
    print(t)

Jupyter
Jupyter
Jupyter
Jupyter